body {
	padding-top: 50px;
	color: #959595;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	align-content: center;
	}
	
.feature {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	align-content: center;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }

.amount-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	text-align:center;
}
.tab-center {
	margin-left: 405px;
}
.button-class {
	background-color: #008CBA;
	color: rgb(255, 255, 255);
}

.donation-button {
	width: 300px;
}

.i-right {
	float: right;
}
.i-left {
	float: left;
}
.t-center {
	float: center;
}
.card {
	border: none;
	padding-left: 11em
  }
  
  .card-img {
	border-radius: 0;
	width: 200px;
  }
  
  .vgr-cards .card {
	display: -webkit-box;
	display: flex;
	height: 250px;
	justify-content: center;
	flex-flow: wrap;
	-webkit-box-flex: 100%;
			flex: 100%;
	margin-bottom: 40px;
  }
  .vgr-cards .card:nth-child .card-img-body {
	-webkit-box-ordinal-group: 3;
			order: 2;
  }
  .vgr-cards .card:nth-child .card-body {
	padding-left: 0;
	padding-right: 1.25rem;
  }
  @media (max-width: 576px) {
	.card {
		padding-left: 0px;
	}

	.vgr-cards .card {
	  display: block;
	}
  }
  .vgr-cards .card-img-body {
	-webkit-box-flex: 1;
			flex: 1;
	overflow: hidden;
	position: relative;
  }
  @media (max-width: 576px) {
	.vgr-cards .card-img-body {
	  width: 100%;
	  height: 200px;
	  margin-bottom: 20px;
	}
  }
  .vgr-cards .card-img {
	width: 70%;
	height: 100%;
	position: absolute;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
  }
  @media (max-width: 1140px) {
	.vgr-cards .card-img {
	  margin: 0;
	  -webkit-transform: none;
			  transform: none;
	  width: 100%;
	  height: auto;
	}
  }
  .vgr-cards .card-body {
	-webkit-box-flex: 2;
			flex: 2;
	padding: 0 0 0 1.25rem;
  }
  @media (max-width: 576px) {
	.vgr-cards .card-body {
	  padding: 0;
	}
  }

  #donation-image {
	  width: 30%;
	  height: 30%;
	  display: block;
	  margin-top: 0px;
	  margin-left: auto;
	  margin-right: auto;
  }

  /* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}